@tailwind base;
@tailwind components;
@tailwind utilities;

  :root{
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  /* For Chrome, Edge, Safari */
  ::-webkit-scrollbar-button {
    display: none; /* Hides the scrollbar arrows */
  }

  /* Optional: Customize the scrollbar as well */
  ::-webkit-scrollbar {
    display: none;
  }