@tailwind base;
@tailwind components;
@tailwind utilities;

  :root{
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  /* For Chrome, Edge, Safari */
  ::-webkit-scrollbar-button {
    display: none; /* Hides the scrollbar arrows */
  }

  /* Optional: Customize the scrollbar as well */
  ::-webkit-scrollbar {
    display: none;
  }

  .lk-control-bar > .lk-button-group > .lk-button-group-menu {
    display: none!important;
  }
  
  .lk-control-bar > .lk-button-group > .lk-button {
    height: 40px!important;
    width: 40px!important;
    border-radius: 100px!important;
  }

  .control-bar > .lk-control-bar > .lk-disconnect-button {
    height: 40px!important;
    width: 40px!important;
    border-radius: 100px!important;
  }
  
  .lk-control-bar > .lk-button-group > .lk-button[aria-pressed="false"] {
    color: red;
  }

  .control-bar > .lk-control-bar{
    display: flex!important;
    width: 80px!important;
  }